<h2 class="display-3">My Pokemons</h2>

<div class="p-3">
  <div class="mb-3">
    <label for="pokemonNameInput" class="form-label">Name</label>
    <input
      type="text"
      class="form-control"
      id="pokemonNameInput"
      placeholder="Enter a pokemon name"
      (input)="onPokemonNameType()"
      [(ngModel)]="pokemonName"
      #nameInput
    />
  </div>
  <div class="mb-3">
    <label for="pokemonTypeSelect" class="form-label">Type</label>
    <select class="form-control" id="pokemonTypeSelect" [(ngModel)]="pokemonType">
      <option selected>Select a type</option>
      <option *ngFor="let type of PokemonTypeEnum | keyvalue" [value]="type.key">{{ type.value }}</option>
    </select>
  </div>
  <button
    class="btn btn-primary"
    (click)="onAddPokemon(nameInput)"
    type="button"
    [disabled]="!pokemonName || !pokemonType"
  >
    Add pokemon
  </button>
</div>

<div class="p-3">
  <div class="mb-3">
    <label for="pokemonTypeFilterSelect" class="form-label">filtrer par type :</label>
    <select class="form-control" id="pokemonTypeFilterSelect" [(ngModel)]="pokemonTypeToFilter">
      <option selected value="">Select a type</option>
      <option *ngFor="let type of PokemonTypeEnum | keyvalue" [value]="type.key">{{ type.value }}</option>
    </select>
  </div>
  
</div>

<ul class="list-group">
  <p *ngIf="pokemons.length === 0 && !isFetching">Aucun pokémon de l'api</p>
  <pokedex-pokemon-item
    (click)="goToPokemonPage(i)"
    *ngFor="let pokemon of pokemons | pokemonTypeFilter:pokemonTypeToFilter; let i = index"
    [pokemon]="pokemon"
  ></pokedex-pokemon-item>
  <div *ngIf="isFetching" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</ul>

<div class="alert alert-danger" *ngIf="error">
  <h2>Une erreur est survenue !</h2>
  <p>{{ error }}</p>
</div>
