<h2 class="display-3">My Pokemons</h2>

<div class="p-3">
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Enter a pokemon name"
      (input)="onPokemonNameType()"
      [(ngModel)]="pokemonName"
      #nameInput
    />
    <button
      class="btn btn-primary"
      (click)="onAddPokemon(nameInput)"
      type="button"
    >
      Add pokemon
    </button>
  </div>
</div>

<ul class="list-group">
  <p *ngIf="pokemons.length === 0 && !isFetching">Aucun pokémon de l'api</p>
  <pokedex-pokemon-item
    (click)="goToPokemonPage(i)"
    appBasicHighlight="blue"
    defaultColor="gray"
    *ngFor="let pokemon of pokemons; let i = index"
    [pokemon]="pokemon"
  ></pokedex-pokemon-item>
  <div *ngIf="isFetching" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</ul>
