<div class="container">
  <div class="p-5">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group">
        <label for="usernameInput">Username</label>
        <input
          class="form-control"
          id="usernameInput"
          type="text"
          name="username"
          ngModel
        />
      </div>
      <div class="form-group">
        <label for="emailInput">Email</label>
        <input
          class="form-control"
          type="email"
          id="emailInput"
          name="email"
          ngModel
        />
      </div>
      <button class="btn btn-primary" type="submit">submit</button>
    </form>
  </div>
</div>