<div class="container">
  <div class="p-5">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group">
        <label for="usernameInput">Username</label>
        <input
          class="form-control"
          id="usernameInput"
          type="text"
          name="username"
          ngModel
          required
          #username="ngModel"
        />
        <div
          class="form-text text-danger" *ngIf="username.touched && username.errors?.required">
          Please provide a username
        </div>
      </div>
      <div class="form-group">
        <label for="emailInput">Email</label>
        <input
          class="form-control"
          type="email"
          id="emailInput"
          name="email"
          ngModel
          required
          email
          #email="ngModel"
        />
        <ng-container *ngIf="email.touched">
          <div class="form-text text-danger" *ngIf="email.errors?.required">
            Please provide an email
          </div>
          <div class="form-text text-danger" *ngIf="email.errors?.email">
            Please provide a valid email
          </div>
        </ng-container>
      </div>
      <button [disabled]="!f.valid" class="btn btn-primary" type="submit">
        submit
      </button>
    </form>
  </div>
</div>
