<div class="container">
  <div class="p-5">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="usernameInput">Username</label>
        <input
          class="form-control"
          name="username"
          id="usernameInput"
          type="text"
          formControlName="username"
        />
        <div *ngIf="username.touched && username.errors?.required">
          Please provide a username
        </div>
      </div>
      <div class="form-group">
        <label for="emailInput">Email</label>
        <input
          name="email"
          class="form-control"
          type="email"
          id="emailInput"
          formControlName="email"
        />
        <ng-container *ngIf="email.touched">
          <div class="form-text text-danger" *ngIf="email.errors?.required">
            Please provide an email
          </div>
          <div class="form-text text-danger" *ngIf="email.errors?.email">
            Please provide a valid email
          </div>
        </ng-container>
      </div>
      <button
        [disabled]="!userForm.valid"
        class="btn btn-primary"
        type="submit"
      >
        submit
      </button>
    </form>
  </div>
</div>
